.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    button {
        background-color: transparent;
        border: none;
        color: purple;
        font-size: 20px;
        opacity: .6;
        transition: opacity .2s ease-out;
    }
    button:hover {
        opacity: .8;
        transition: opacity .2s ease-in;
    }
}