
.search-container {
    .search-bar-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
        .search {
            display: flex;
            margin-top: 2rem;
            justify-content: center;
            select {
                background: #fff;
                border-radius: 0;
                -webkit-appearance: none;
                background :url('https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/20305395141540882611-512.png') 80% no-repeat;
                background-color: #fff;
                background-position: right;
                background-size: 14px;
                padding: 6px 14px 6px 6px;
            }
            form {
                max-width: 600px;
                width: 100%;
                input {
                    border: 1px solid black;
                    box-sizing: border-box;
                    margin-left: 1px;
                    padding: 6px;
                    width: 100%;
                }
            }   
        }
    }
    .show-all {
        text-align: right;
    }
    .show-all a {
        text-decoration: none;
    }
    p {
        margin: 1rem 0;
    }
    .loading:after {
        content: ' .';
        animation: dots 1s steps(5, end) infinite;}
      
      @keyframes dots {
        0%, 20% {
          color: rgba(0,0,0,0);
          text-shadow:
            .25em 0 0 rgba(0,0,0,0),
            .5em 0 0 rgba(0,0,0,0);}
        40% {
          color: black;
          text-shadow:
            .25em 0 0 rgba(0,0,0,0),
            .5em 0 0 rgba(0,0,0,0);}
        60% {
          text-shadow:
            .25em 0 0 black,
            .5em 0 0 rgba(0,0,0,0);}
        80%, 100% {
          text-shadow:
            .25em 0 0 black,
            .5em 0 0 black;}}
}

.ingredients {
    display: flex;
    list-style-type: none;
    margin-top: 1rem;
    padding-left: 0;
    li {
        border: 1px solid gray;
        border-radius: 2px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 6px;
        padding: 4px;
        p {
            margin: 0;
        }
        button {
            background-color: transparent;
            border: none;
            font-size: 12px;
            font-weight: normal;
            outline: none;
        }
    }
}

@media only screen and (min-width: 600px) {
    .search-container {
        p {
            font-size: 1.1rem;
        }
    }
}