@import 'bootstrap/scss/bootstrap.scss';

#root {
    font-family: 'Cormorant Garamond';
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem;
}

select {
    background: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    /* **this should be your icon or image to replace the down arrow** */
    background :url('https://upload-icon.s3.us-east-2.amazonaws.com/uploads/icons/png/20305395141540882611-512.png') 80% no-repeat;
    background-color: #fff;
    background-position: right;
    background-size: 14px;
}