.cocktail-form {
    width: 100%;
    label {
        width: 100%;
        span {
            font-size: 18px;
            font-weight: bold;
        }
        input {
            border: none;
            border-bottom: 1px solid gray;
            width: 100%;
        }
        textarea {
            border: none;
            border-bottom: 1px solid gray;
            width: 100%;
        }
    }
    label[for="ingredients"]{
        position: relative;
        .add-button {
            background-color: transparent;
            border: none;
            font-size: 18px;
            outline: none;
            position: absolute;
            right: 0;
            top: 0;
        }
        ul {
            padding-left: 0;
            li {
                list-style-type: none;
                margin-bottom: 4px;
                position: relative;
                textarea {
                    border: none;
                    border-bottom: 1px solid gray;
                    height: 30px;
                    width: 100%;
                    vertical-align: text-top;
                }
                .delete-button {
                    background-color: transparent;
                    border: none;
                    color: lightgray;
                    font-size: 18px;
                    outline: none;
                    opacity: 0;
                    position: absolute;
                    right: -30px;
                    top: 10px;
                }
            }
            li:hover {
                .delete-button {
                    opacity: 1;
                }
            }
        } 
    }   
    label[for="steps"]{
        position: relative;
        .add-button {
            background-color: transparent;
            border: none;
            font-size: 18px;
            position: absolute;
            right: 0;
            top: 0;
        }
        ol {
            padding-left: 0;
            li {
                margin-bottom: 4px;
                position: relative;
                textarea {
                    border: none;
                    border-bottom: 1px solid gray;
                    height: 30px;
                    width: 100%;
                    vertical-align: text-top;
                }
                .delete-button {
                    background-color: transparent;
                    border: none;
                    color: lightgray;
                    font-size: 18px;
                    outline: none;
                    opacity: 0;
                    position: absolute;
                    right: -30px;
                    top: 10px;
                }
            }
            li:hover {
                .delete-button {
                    opacity: 1;
                }
            }
        }    
    }
    button {
        display: block;
        margin: 0 auto;
    }
}